[url "git@github.com:"]
    InsteadOf = https://github.com/

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[ghq]
    root = ~/repo

[push]
    default = current

[core]
    autoCRLF = false
[credential]
	helper = manager
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim -c '2wincmd w | diffthis | 3wincmd w | diffthis | 1wincmd w | wincmd J' -O $MERGED $LOCAL $REMOTE
